<%= form_with(model: channel, local: true) do |form| %>
  <% if channel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(channel.errors.count, "error") %> prohibited this channel from being saved:</h2>

      <ul>
      <% channel.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, id: :channel_name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :keyword, "Search keyword(s)" %>
    <%= form.text_field :keyword, id: :channel_keyword, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :symbol %>
    <%= form.text_field :symbol, id: :channel_symbol, class: "form-control" %>
  </div>
  
  <div class="form-group">
    <%= form.check_box :active, id: :channel_active %>
    <%= form.label :active, "Actively update this channel" %>
  </div>


  <div class="actions">
    <%= form.submit nil, class: "btn btn-default" %>
  </div>
<% end %>
