<p id="notice"><%= notice %></p>

<h1>Channels</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Symbol</th>
      <th>Search Keyword(s)</th>
      <th>Last query at</th>
      <th>Tweets per hour</th>
      <th>Last exchange rate</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @channels.each do |channel| %>
      <tr class="<%= "success" if channel.active %>">
        <td><%= channel.name %></td>
        <td><%= channel.symbol %></td>
        <td><%= channel.keyword %></td>
        <td><%= t = channel.tweets.order("created_at desc").limit(1).select("full_json,created_at")[0]; 
          t ? "#{time_ago_in_words(t.created_at)} ago" : "none" %></td>
        <td><%= t ? t.unique_tweets_per_hour : "" %></td>
        <td><%= ExchangeRate.recent_price_of(channel.symbol) %> USD</td>
        <td><%= link_to 'Show', channel_tweets_path(channel), class: "btn btn-default btn-xs" %></td>
        <td><%= link_to 'Edit', edit_channel_path(channel), class: "btn btn-default btn-xs" %></td>
        <td><%# link_to 'Destroy', channel, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Channel', new_channel_path, class: "btn btn-default" %>
