<%= form_with(model: tweet, local: true) do |form| %>
  <% if tweet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tweet.errors.count, "error") %> prohibited this tweet from being saved:</h2>

      <ul>
      <% tweet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :keyword %>
    <%= form.text_field :keyword, id: :tweet_keyword %>
  </div>



  <div class="field">
    <%= form.label :channel_id %>
    <%= form.select :channel_id, Channel.all.collect {|c| [ c.name, c.id ] }, id: :tweet_channel_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
