<p id="notice"><%= notice %></p>

<%= link_to "Features API", api_channel_path(@channel), class: "btn btn-default pull-right" %>

<h1>Queries<%= " for #{@channel.name} (#{@channel.symbol})" if @channel %></h1>


<div id="chart_div" style="width: 900px; height: 300px"></div>

    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart', "line"]});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {

        var data = new google.visualization.DataTable();
        data.addColumn('date', 'Date');
        data.addColumn('number', 'Mentions per hour');
        data.addColumn('number', 'Sum followers reached per hour');
        data.addColumn('number', 'Price in USD');

        data.addRows(<%= 
          (
            @tweets.collect {|t| [
              t.created_at, 
              t.statistics["unique_tweets_per_hour"], 
              t.statistics["followers_reached_per_hour"],
              nil, 
            ]} +
            @exchange_rates.collect {|t| [
              t.created_at, 
              nil, 
              nil,
              t.price_of(@channel.symbol)
            ]}
          ).to_json.html_safe %>
          .map(function(e) {return [new Date(e[0]), e[1], e[2], e[3]]}))

        var options = {
          // title: 'Tweets per hour',
          width: 900,
          height: 250,
          curveType: "function",
          hAxis: {
            format: 'M/d/yy H:mm',
            gridlines: {count: 15}
          },
          vAxis: {
            gridlines: {color: 'none'},
            minValue: 0
          },
          series: {
              0: {axis: 'n'},
              1: {axis: 'n2'},
              2: {axis: 'price'}
            },
          axes: {
            y: {
              'n': {label: 'Mentions per hour'},
              'n2': {label: 'Followers reached per hour'},
              'price': {label: 'Price in USD', format: 'currency'}
            }
          },
        };
        var materialChart = new google.charts.Line(document.getElementById('chart_div'));
        materialChart.draw(data, google.charts.Line.convertOptions(options));

        // var chart = new google.visualization.LineChart(document.getElementById('chart_div'));

        // chart.draw(data, options);
      }

</script>
      
<table class="table">
  <thead>
    <tr>
      <th>n Results</th>
      <th>Result posted time-range</th>
      <th>Query performed at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tweets.each do |tweet| %>
    
    <%
    

    earliest_at = Time.parse(tweet.statistics["earliest_at"])
    latest_at = Time.parse(tweet.statistics["latest_at"])
    
    %>
      <tr>
        <td><%= tweet.statistics["n_tweets"] %> 
          (<%= tweet.statistics["n_unique_tweets"] %> unique text)
        </td>
        <td><%= earliest_at.strftime("%Y-%m-%d %H:%M") if earliest_at %> &mdash; 
          <%= latest_at.strftime(earliest_at.to_date == latest_at.to_date ? "%H:%M" : "%m-%d %H:%M") if latest_at %>
        </td>
        <td><%= time_ago_in_words( tweet.created_at ) %> ago</td>
        <td><%= link_to 'Show', tweet %></td>
        <td><%= link_to 'Show Expanded', "#{tweet_path(tweet)}?expanded=t" %></td>
        <td><%= link_to 'Destroy', tweet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if @channel %>
<%= link_to "Rerun query", rerun_query_channel_path( @channel ), class: "btn btn-default" %>
<% end %>