<p id="notice"><%= notice %></p>

<h1>Tweet Queries<%= " for #{@channel.name}" if @channel %></h1>


<table class="table">
  <thead>
    <tr>
      <th>n Results</th>
      <th>Result posted time-range</th>
      <th>Query performed at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tweets.each do |tweet| %>
    
    <%
    
    parsed = JSON.parse(tweet.full_json)
    earliest_at = Time.parse( parsed.last["created_at"] )
    latest_at = Time.parse( parsed.first["created_at"] )
    
    %>
      <tr>
        <td><%= parsed.size %> 
          (<%= parsed.uniq {|e| e["text"].gsub(/\d/, "0")}.size %> unique text)
        </td>
        <td><%= earliest_at.strftime("%Y-%m-%d %H:%M") %> - 
          <%= latest_at.strftime(earliest_at.to_date == latest_at.to_date ? "%H:%M" : "%m-%d %H:%M") %>
        </td>
        <td><%= time_ago_in_words( tweet.created_at ) %> ago</td>
        <td><%= link_to 'Show', tweet %></td>
        <td><%= link_to 'Show Expanded', "#{tweet_path(tweet)}?expanded=t" %></td>
        <td><%= link_to 'Destroy', tweet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if @channel %>
<%= link_to "Rerun query", rerun_query_channel_path( @channel ), class: "btn btn-default" %>
<% end %>