<p id="notice"><%= notice %></p>

<p>
  <strong>Keyword:</strong>
  <%= @tweet.keyword %>
</p>




<%
  
  omit_keys = ["created_at", "id", "text", "truncated", "possibly_sensitive", "profile_image_url", "profile_image_url_https", "profile_banner_url", "profile_sidebar_fill_color", "profile_background_image_url_https", "profile_background_tile", "profile_background_image_url", "profile_link_color", "profile_sidebar_border_color", "profile_text_color", "profile_use_background_image", "has_extended_profile", "in_reply_to_status_id_str", "in_reply_to_user_id_str", "contributors", "geo", "entities", "is_quote_status"]
  
%>
<table class="table">
  <tr>
    <th style="min-width: 200px; ">Created at</th>
    <th>Text</th>
    <th style="min-width: 250px; ">Statistics</th>
    <th></th>
  </tr>
  <% (@tweet.parsed_json || []).group_by {|t| t["text"]}.each do |text, tweets| %>

  <tr>
    <td><%= tweets.last["created_at"] %></td>
    <td><%= text.gsub(/^RT @.*?: /, "") %></td>    
    <td>
      <ul>
      <li>Language: <%= tweets[0]["lang"] %></li>
      <li>RT: <%= tweets[0]["retweet_count"] %></li>
      <% tweets.each do |tweet| %>
        <li>User: <%= tweet["user"]["name"] %></li>
        <ul>
          <li>Favs: <%= tweet["favorite_count"] %></li>
      
          <li>User followers: <%= tweet["user"]["followers_count"] %></li>
          <li>User statuses: <%= tweet["user"]["statuses_count"] %></li>

        </ul>
      
      <% end %>
      </ul>
      
    </td>
    <td>
      <% if params[:expanded] == "t" %>

        <table class="table">

        <% tweets[0].select {|k,v| !omit_keys.include?(k)}.each do |k,v| %>
          <tr>
            <td><%= k %></td>
            <td><%= v.class == Hash ? v.select {|k,v| !omit_keys.include?(k)} : v %></td>
          </tr>
        <% end %>
        </table>

      <% end %>
    </td>
  </tr>
  <% end %>
</table>

<%# link_to 'Edit', edit_tweet_path(@tweet) %> |
<%# link_to 'Back', tweets_path %>
